version: '3'

services:
  # ==========================================
  # EMQX (MQTT Broker)
  # ==========================================
  emqx:
    image: emqx/emqx:latest
    container_name: emqx
    restart: always
    ports:
      - "1883:1883"
      - "8083:8083"
      - "18083:18083"
    environment:
      - EMQX_DASHBOARD__DEFAULT_USERNAME=admin
      - EMQX_DASHBOARD__DEFAULT_PASSWORD=emqxtest
    volumes:
      - ./emqx_data:/opt/emqx/data
      - ./emqx_log:/opt/emqx/log
    networks:
      - iot_network

  # ==========================================
  # NODE-RED (Logic)
  # ==========================================
  nodered:
    image: nodered/node-red:latest
    container_name: nodered-emqx
    restart: always
    ports:
      - "1880:1880"
    volumes:
      - ./nodered_data:/data
    environment:
      - TZ=Asia/Bangkok
    depends_on:
      - emqx
      # Removed influxdb/grafana depends_on because they are in different files now
    networks:
      - iot_network

  # ==========================================
  # NGINX (Gateway)
  # ==========================================
  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "4321:4321"
    volumes:
      - ./nginx_config:/etc/nginx/conf.d
      - ./nginx_config/.htpasswd:/etc/nginx/.htpasswd
   
    depends_on:
      - nodered
      - emqx
    networks:
      iot_network:
        ipv4_address: 172.28.0.100

  # ==========================================
  # MAIN TUNNEL (Exposing Nginx)
  # ==========================================
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared_tunnel
    restart: always
    command: tunnel --url http://nginx_proxy:4321
    networks:
      - iot_network

# Use the pre-existing network
networks:
  iot_network:
    external: true

