version: '3'

services:
  # ==========================================
  # 1. NGINX (The Gateway)
  # ==========================================
  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "4321:4321"  # Access via http://YOUR_IP:4321
    volumes:
      - ./nginx_config:/etc/nginx/conf.d
    networks:
      - my_iot_net

  # ==========================================
  # 2. EMQX BROKER
  # ==========================================
  emqx:
    image: emqx/emqx:latest
    container_name: emqx
    restart: always
    ports:
      - "18840:1883"   # MQTT TCP
      - "18084:18083"  # Dashboard
      - "8085:8083"    # WS (External 8085 -> Internal 8083)
      - "8089:8084"    # WSS (External 8089 -> Internal 8084)
    environment:
      - EMQX_DASHBOARD__DEFAULT_USERNAME=admin
      - EMQX_DASHBOARD__DEFAULT_PASSWORD=public
    volumes:
      - ./emqx_data:/opt/emqx/data
      - ./emqx_log:/opt/emqx/log
    networks:
      - my_iot_net

  # ==========================================
  # 3. NODE-RED
  # ==========================================
  nodered:
    image: nodered/node-red:latest
    container_name: nodered-emqx
    restart: always
    ports:
      - "18801:1880"
    volumes:
      - ./nodered_data:/data
    environment:
      - TZ=Asia/Bangkok
    depends_on:
      - emqx
      - influxdb
    networks:
      - my_iot_net

  # ==========================================
  # 4. INFLUXDB
  # ==========================================
  influxdb:
    image: influxdb:2.7
    container_name: influxdb-emqx
    restart: always
    ports:
      - "8087:8086"  # External 8087 -> Internal 8086
    volumes:
      - ./influxdb_data:/var/lib/influxdb2
      - ./influxdb_config:/etc/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=password123
      - DOCKER_INFLUXDB_INIT_ORG=myorg
      - DOCKER_INFLUXDB_INIT_BUCKET=sensor_data
    networks:
      - my_iot_net

# ==========================================
# NETWORK (Simple & Automatic)
# ==========================================
networks:
  my_iot_net:
    driver: bridge
